/*
.table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table td, .table th {
  border: none;
  padding: 8px 0;
}

.table tr:nth-child(even){background-color: transparent;}

// .table tr:hover {background-color: #ddd;}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: transparent;
  color: white;
}

.table .status:before {
  content: "";
  background-color: green;
  width: .6em;
  height: .6em;
  border-radius: 50%;
  display: inline-flex;
  margin-right: 5px;
}

.table .status-green:before {
  background-color: green;
}
.table .status-yellow:before {
  background-color: yellow;
}
.table .status-red:before {
  background-color: red;
}
*/
