doctype html
html(lang='en', dir='ltr')
  head
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1, maximum-scale=1', name='viewport')
    title=title
    link(href='https://fonts.googleapis.com/css?family=Oxygen:300,400,700', rel='stylesheet')
    link(rel='shortcut icon', href='/img/favicon.ico')
    link(rel='stylesheet', href='/daidex.css')
  body
    div#root
    // scripts
    script(type='text/javascript', src='/index.min.js')
    script(type='text/javascript', src='/bignumber-v5.min.js')
    script(type='text/javascript', src='/radarrelay.js')
    script(type='text/javascript', src='/app.js')
